.quiz-board {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 20px;
}
.correct {
  color: green;
}
.wrong {
  color: red;
}
.option-list {
  border: 1px solid black;
  margin-top: 20px;
  padding: 5px;
  cursor: pointer;
}
.option-list:hover {
  color: rgb(70, 74, 192);
  border: 1px solid rgb(70, 74, 192);
}
